/************************************** 
Default page style for 
box-sizing, padding, margin  
**************************************/ 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/************************************** 
Default body style for
background-color
**************************************/ 
body {
    background-color: #d9dcd6;
}

/************************************** 
Default anchor style for
color, text-decoration
**************************************/ 
a {
    color: #ffffff;
    text-decoration: none;
}

/************************************** 
Default paragraph style for
font-size
**************************************/ 
p {
    font-size: 16px;
}

/*---------- header classes ---------*/
/************************************** 
Set header class style for
padding, font-family, background-color, color
**************************************/ 
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/**************************************
Set header class h1 style for
display, font size
**************************************/ 
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/************************************** 
accent the 'seo' in company name 
'Horiseon' with different color
**************************************/ 
.header h1 .seo {
    color: #d9dcd6;
}
/*---------- header classes end------*/


/*-------- navigation class ---------*/
/************************************** 
set header navigation style for
padding, margin, float, 
font-family, font-size 
**************************************/ 
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/************************************** 
set header navigation list style for
list-style-type
**************************************/ 
.header nav ul {
    list-style-type: none;
}
/************************************** 
set header navigation list item style for
display, margin
**************************************/ 
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*------ navigation classes end -------*/

/************************************** 
set hero class style for
height, width, margin, background 
Note the background image is a url 
**************************************/ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/************************************** 
set content class to define style for  
width, display, margin
**************************************/ 
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/************************************** 
set content class article to style for  
margin, padding, height, font, background, color,
**************************************/
.content article{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/************************************** 
set content class article h2 to style for  
margin, font-size
**************************************/
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/**************************************
Set content class img style for
max-height
**************************************/
.content article img {
    max-height: 200px;
}

/**************************************
Set content class img style for
float, margin
individually. This is to allow the 
design of the article layout
**************************************/
.search-engine-optimization img {
    float: left;
    margin-right: 25px;
}
.online-reputation-management img {
    float: right;
    margin-left: 25px;
}
.social-media-marketing img {
    float: left;
    margin-right: 25px;
}

/************************************** 
set benefits class style for  
margin, padding, clear float, 
width, height, font family, background-color
**************************************/ 
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/************************************** 
set benefits class article style for  
margin, color
**************************************/
.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}
/************************************** 
set benefits class article h3 style for  
margin, color
**************************************/
.benefits article h3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
/************************************** 
set benefits class article img style for  
display, margin, max-width
**************************************/
.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/************************************** 
set footer class style for  
padding, clear, font-family, text-align
**************************************/ 
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/************************************** 
set footer class h3 style for  
font-size
**************************************/ 
.footer h3 {
    margin-bottom: 10px;
    font-size: 20px;
}
